---
const clientId = "243996829698-50me4e29rr1vbjdpgop8erdbjonufstv.apps.googleusercontent.com";
import GoogleOauthReact from './GoogleOauthReact.jsx';
---
<header>
    <h1>Árbol de conocimientos</h1>
    <nav>
        <a href="/personal">Personal</a>
        <a href="/home">Home</a>
        <a href="/">Arbol</a>
        <a href="/login">Login</a>
    </nav>
    <div class="divGoogleWrapper">
        <GoogleOauthReact transition:persist client:only="react" clientId={clientId}/>
    </div>
</header>

<style>
    .divGoogleWrapper{
        display: flex;
        align-items: center;
        min-height: max-content;
        margin-left: auto;
    }
    a{
        text-decoration: none;
        color: var(--color-surface-mixed-600);
        padding-inline: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        font-weight: bold;
    }
    a:hover{
        transition: all 0.1s ease-in-out;
        color: var(--color-primary-600);
        background-color: var(--color-surface-300);
    }
    nav{
        gap: 30px;
        display: flex;
        align-items: center;
        min-height: max-content;
        margin-left: 40%;
    }
    header{
        align-items: center;
        display: flex;
        padding: 15px;
        margin: 0px;
        background-color: var(--color-surface-200);
        border-bottom: 1px solid var(--color-primary-300);
        min-height: 7vh;
    }
    h1{
        margin: 0px;
        color: var(--color-primary-300);
        min-height: max-content;
        align-self: center;
    }
</style>