.dropZoneDiv{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropzone{
    background-color: var(--color-surface-400);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 25px 100px 25px 100px;
}
.activeDrag{
    border: 3px dashed var(--color-primary-600);
}
.inactiveDrag{
    border: 3px dashed var(--color-surface-600);
}
.dropzoneWrapper{
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    background-color: var(--color-surface-400);
}
.uploadSVG{
    stroke: var(--color-surface-600);
    width: 75px;
    margin-top: -30px;
}
.selectFileButton{
    background-color: var(--color-primary-700);
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: var(--color-surface-100);
    font-weight: bold;
}
.selectFileButton:hover{
    background-color: var(--color-primary-600);
    transition: 0.05s all ease-in-out;
}
.selectFileButton:active{
    transform: scale(0.95);
    transition: 0.05s all ease-in-out;
}
p{
    color: var(--color-surface-700);
    margin: 0;
    font-weight: bold;
}
.acceptedFilesDiv{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.fileCard{
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.divInfoFile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.deleteFileButton{
    background-color: var(--color-cancel);
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}
.deleteFileButton:hover{
    opacity: 0.7;
}
.deleteFileButton:active{
    transform: scale(0.95);
}
.deleteSVG{
    display: inline-block;
}
.subirButtonDiv{
    display: flex;
    justify-content: center;
}
.subirButton{
    background-color: var(--color-primary-700);
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: var(--color-surface-100);
    font-weight: bold;
}
.subirButton:not(:disabled):hover{
    background-color: var(--color-primary-600);
    transition: 0.05s all ease-in-out;
}
.subirButton:not(:disabled):active{
    transform: scale(0.95);
    transition: 0.05s all ease-in-out;
}
.subirButton:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.fileQuestionSVG{
    fill: var(--color-surface-400);
    width: 100px;
    margin-bottom: -10px;
}
.h3Fondo{
    color:  var(--color-surface-400);
    margin-top: 0px;
    margin-bottom: 0px;
}
.noAcceptedFilesDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.fileRejectionDiv{
    min-height: 50px;
}
.errorFicheroDiv{
    background-color: var(--color-surface-200);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.erroresFicherosDiv{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding:0px;
    color: var(--color-surface-900);
}
.erroresFicherosWrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.warningSVG{
    height: 40px;
    margin-right: 13px;
    fill: var(--color-error);
}