
.divTreeAndControls{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.divTree{
}

.nodeInput{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: none;
}