---
import Layout from '../layouts/Layout.astro';
import Tarea from '../components/Tarea.astro';
import TaskList from '../components/TaskList';
import AddTask from '../components/AddTask.jsx';
import Tree from '../components/TreeLibrary.jsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Árbol de conocimientos</h1>
		<Tree client:load/>
	</main>
</Layout>
<style>
	main{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
